openapi: 3.0.3
info:
  title: Due Account Channels API
  version: v1
  description: 'Due provides borderless payment infrastructure: cross-border transfers, fiat<->stablecoin on/off-ramps, virtual accounts, FX rates, KYC/KYB onboarding, non-custodial MPC wallets (Vault), and webhooks. Assembled by API Evangelist from Due''s per-operation OpenAPI fragments published on due.readme.io.'
  contact:
    email: demo@due.network
    url: https://www.opendue.com
servers:
- url: https://api.due.network
  description: Production
- url: https://api.sandbox.due.network
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Channels
paths:
  /v1/channels:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: List all channels
      description: Retrieve a list of all transfer channels.
      tags:
      - Channels
      parameters:
      - in: query
        name: onlyAvailable
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transfers_models_v2.Channel'
      operationId: get_v1-channels
components:
  schemas:
    transfers_models_v2.Permissions:
      type: object
      properties:
        eligibleResidencies:
          type: array
          items:
            type: string
        restrictedResidencies:
          type: array
          items:
            type: string
        eligibleCategories:
          type: array
          items:
            type: string
        restrictedCategories:
          type: array
          items:
            type: string
        restrictedRecipientCountries:
          type: array
          items:
            type: string
        eligibleRecipientCountries:
          type: array
          items:
            type: string
        recipientAccountTypes:
          type: array
          items:
            type: string
        virtualAccounts:
          $ref: '#/components/schemas/transfers_models_v2.PermissionsVirtualAccounts'
        payouts:
          $ref: '#/components/schemas/transfers_models_v2.PermissionsPayouts'
        requiredSenderSchemaOneOf:
          type: array
          items:
            type: string
    transfers_models_v2.PermissionsPayouts:
      type: object
      properties:
        named:
          type: boolean
    transfers_models_v2.Channel:
      type: object
      properties:
        rail:
          type: string
        railSettings:
          $ref: '#/components/schemas/transfers_models_v2.RailSettings'
        currencyCode:
          type: string
        feeBps:
          type: integer
          format: int32
        feeFixed:
          type: string
        limitMin:
          type: string
        limitMax:
          type: string
        kycLevels:
          type: array
          items:
            type: string
        type:
          type: string
        accountType:
          type: string
        permissions:
          $ref: '#/components/schemas/transfers_models_v2.Permissions'
        purposeCodes:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        endorsementsRequired:
          type: array
          items:
            type: string
    transfers_models.RailReferenceRuleSet:
      type: object
      properties:
        minCharacters:
          type: integer
          format: int32
        maxCharacters:
          type: integer
          format: int32
        required:
          type: boolean
    transfers_models_v2.RailSettings:
      type: object
      properties:
        rail:
          type: string
        speed:
          type: string
        memoConfig:
          $ref: '#/components/schemas/transfers_models.RailReferenceRuleSet'
        schemas:
          type: array
          items:
            type: string
    transfers_models_v2.PermissionsVirtualAccounts:
      type: object
      properties:
        canUseExisting:
          type: boolean
        canOpenNew:
          type: boolean
        named:
          type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
