openapi: 3.0.3
info:
  title: Due API
  version: v1
  description: 'Due provides borderless payment infrastructure: cross-border transfers, fiat<->stablecoin
    on/off-ramps, virtual accounts, FX rates, KYC/KYB onboarding, non-custodial MPC wallets (Vault), and
    webhooks. Assembled by API Evangelist from Due''s per-operation OpenAPI fragments published on due.readme.io.'
  contact:
    email: demo@due.network
    url: https://www.opendue.com
servers:
- url: https://api.due.network
  description: Production
- url: https://api.sandbox.due.network
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Account
- name: Account Wallets
- name: Blockchain Transfers
- name: Channels
- name: Financial Institutions
- name: KYC
- name: Markets
- name: Quote
- name: Recipients
- name: Simulate pay-in
- name: TOS
- name: Transfers
- name: Usage
- name: Virtual Accounts
- name: Wallets
- name: Webhooks
paths:
  /quote:
    post:
      operationId: CreateQuote
      summary: Create FX quote
      description: Creates a new FX quote for the specified input and output currencies and amounts.
      tags:
      - Quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fx_dto.QuoteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fx_models.Quote'
  /v1/recipients/{id}:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    delete:
      summary: Delete recipient
      description: Soft deletes a recipient by id.
      tags:
      - Recipients
      parameters:
      - in: path
        name: id
        description: Unique identifier for the resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      operationId: delete_v1-recipients-id
    get:
      summary: Get recipient
      description: Retrieves details of a specific recipient.
      tags:
      - Recipients
      parameters:
      - in: path
        name: id
        description: Unique identifier for the resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.Recipient'
      operationId: get_v1-recipients-id
  /v1/webhook_endpoints/{id}:
    delete:
      tags:
      - Webhooks
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.WebhookEndpoint'
      operationId: delete_v1-webhook-endpoints-id
  /v1/webhook_endpoints/{webhookId}:
    delete:
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.WebhookEndpoint'
      operationId: delete_v1-webhook-endpoints-webhookid
    post:
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bp_dto.UpdateWebhookEndpointRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.WebhookEndpoint'
      operationId: post_v1-webhook-endpoints-webhookid
  /v1/account_categories/:
    get:
      summary: Get account categories
      description: Retrieves a list of available account categories
      tags:
      - Account
      parameters:
      - in: query
        name: next
        schema:
          type: string
      - in: query
        name: accountType
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository.CursorPage--transfers_models.AccountCategory'
      operationId: get_v1-account-categories
  /v1/accounts/{accountId}:
    get:
      summary: Get account
      description: Retrieves full account details, including status history, KYC status, and ToS acceptance.
      tags:
      - Account
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.AccountV1'
      operationId: get_v1-accounts-accountid
  /v1/accounts/:
    get:
      summary: List accounts
      description: Lists all accounts linked to your platform or user.
      tags:
      - Account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/bp_models.AccountV1'
      operationId: get_v1-accounts
  /v1/channels:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: List all channels
      description: Retrieve a list of all transfer channels.
      tags:
      - Channels
      parameters:
      - in: query
        name: onlyAvailable
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transfers_models_v2.Channel'
      operationId: get_v1-channels
  /v1/financial_institutions/{country2}/{schema}:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: List financial institutions
      description: List all financial institutions by schema and country.
      tags:
      - Financial Institutions
      parameters:
      - in: path
        name: country2
        description: Two-letter country code (ISO 3166-1 alpha-2).
        required: true
        schema:
          type: string
      - in: path
        name: schema
        description: Payment method schema (e.g., bank_us, momo_africa).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transfers_models.FinancialInstitution'
      operationId: get_v1-financial-institutions-country2-schema
  /v1/financial_institutions/{id}:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: Get financial institution
      description: Get financial institution details by id.
      tags:
      - Financial Institutions
      parameters:
      - in: path
        name: id
        description: Unique identifier for the resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models.FinancialInstitution'
      operationId: get_v1-financial-institutions-id
  /v1/kyc/endorsements/{code}:
    get:
      parameters:
      - in: path
        name: code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Endorsement'
      operationId: get_v1-kyc-endorsements-code
    post:
      parameters:
      - in: path
        name: code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Endorsement'
      operationId: post_v1-kyc-endorsements-code
  /v1/kyc/endorsements:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/kyc_entities.Endorsement'
      operationId: get_v1-kyc-endorsements
  /v1/kyc/submissions/{submissionId}:
    get:
      parameters:
      - in: path
        name: submissionId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Submission'
      summary: Get submission
      operationId: get_v1-kyc-submissions-submissionid
  /v1/kyc/submissions:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: List open submissions
      tags:
      - KYC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/kyc_entities.Submission'
      operationId: get_v1-kyc-submissions
  /v1/kyc:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: Get standard KYC/KYB link
      description: Retrieve standard KYC/KYB details and link.
      tags:
      - KYC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models.SumsubKYC'
      operationId: get_v1-kyc
    post:
      summary: Initiate standard KYC/KYB
      description: Initiate standard KYC/KYB for an account.
      tags:
      - KYC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Submission'
      operationId: post_v1-kyc
  /v1/recipients:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: List all recipients
      description: List a paginated list of recipients
      tags:
      - Recipients
      parameters:
      - in: query
        name: withDeleted
        description: Include recipients that have been marked as deleted.
        schema:
          type: boolean
      - in: query
        name: next
        description: Cursor for pagination to fetch the next set of results.
        schema:
          type: string
      - in: query
        name: order
        description: Order in which results should be returned (e.g., `asc`, `desc`).
        schema:
          type: string
      - in: query
        name: limit
        description: Number of results to return per page.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository.CursorPage--transfers_models_v2.Recipient'
      operationId: get_v1-recipients
    post:
      summary: Create recipient
      description: Creates a new recipient with the provided details.
      tags:
      - Recipients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_dto_v2.RecipientCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.Recipient'
      operationId: post_v1-recipients
  /v1/token_transfers/{address}/{id}:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: Get token transfer
      tags:
      - Blockchain Transfers
      parameters:
      - in: path
        name: address
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.TokenTransfer'
      operationId: get_v1-token-transfers-address-id
  /v1/token_transfers/{address}:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: List token transfers
      tags:
      - Blockchain Transfers
      parameters:
      - in: path
        name: address
        required: true
        schema:
          type: string
      - in: query
        name: next
        description: Cursor for pagination to fetch the next set of results.
        schema:
          type: string
      - in: query
        name: order
        description: Order in which results should be returned (e.g., `asc`, `desc`).
        schema:
          type: string
      - in: query
        name: limit
        description: Number of results to return per page.
        schema:
          type: integer
          format: int32
      - in: query
        name: startDate
        description: Start date for filtering results (ISO 8601 format).
        schema:
          type: string
          format: date-time
      - in: query
        name: endDate
        description: Start date for filtering results (ISO 8601 format).
        schema:
          type: string
          format: date-time
      - in: query
        name: includeEmpty
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository.CursorPage--transfers_models_v2.TokenTransfer'
      operationId: get_v1-token-transfers-address
  /v1/tos/{token}:
    get:
      summary: Get TOS data
      tags:
      - TOS
      parameters:
      - in: path
        name: token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.TosAcceptance'
      operationId: get_v1-tos-token
    post:
      summary: Manually accept TOS
      tags:
      - TOS
      parameters:
      - in: path
        name: token
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_dto_v2.AcceptTosRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.TosAcceptance'
      operationId: post_v1-tos-token
  /v1/transfer_intents/{id}:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: Get transfer intent
      description: Get a specific transfer intent by id.
      tags:
      - Blockchain Transfers
      parameters:
      - in: path
        name: id
        description: Unique identifier for the resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.TransferIntent'
      operationId: get_v1-transfer-intents-id
  /v1/transfers/{id}:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: Get transfer details
      description: Get details of a specific transfer by id.
      tags:
      - Transfers
      parameters:
      - in: path
        name: id
        description: Unique identifier for the resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.Transfer'
      operationId: get_v1-transfers-id
  /v1/transfers:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: List all transfers
      description: Retrieves a paginated list of transfers.
      tags:
      - Transfers
      parameters:
      - in: query
        name: next
        description: Cursor for pagination to fetch the next set of results.
        schema:
          type: string
      - in: query
        name: order
        description: Order in which results should be returned (e.g., `asc`, `desc`).
        schema:
          type: string
      - in: query
        name: limit
        description: Number of results to return per page.
        schema:
          type: integer
          format: int32
      - in: query
        name: startDate
        description: Start date for filtering results (ISO 8601 format).
        schema:
          type: string
          format: date-time
      - in: query
        name: endDate
        description: End date for filtering results (ISO 8601 format).
        schema:
          type: string
          format: date-time
      - in: query
        name: includeEmpty
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository.CursorPage--transfers_models_v2.Transfer'
      operationId: get_v1-transfers
    post:
      summary: Create transfer
      description: Initiate a transfer for a created quote and provided details.
      tags:
      - Transfers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_dto_v2.TransferRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.Transfer'
      operationId: post_v1-transfers
  /v1/usage:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: Get usage
      tags:
      - Usage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transfers_models_v2.Usage'
      operationId: get_v1-usage
  /v1/vaults/credentials:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/bp_models.PasskeyCredential'
      operationId: get_v1-vaults-credentials
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bp_dto.CredentialCreationResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.PasskeyCredential'
      operationId: post_v1-vaults-credentials
  /v1/virtual_accounts/{key}:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: Get a virtual account
      description: Retrieves details of a specific virtual account by key.
      tags:
      - Virtual Accounts
      parameters:
      - in: path
        name: key
        description: Unique key to identify the virtual account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.VirtualAccount'
      operationId: get_v1-virtual-accounts-key
    post:
      summary: Update a virtual account
      tags:
      - Virtual Accounts
      parameters:
      - in: path
        name: key
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_dto_v2.VirtualAccountUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.VirtualAccount'
      operationId: post_v1-virtual-accounts-key
  /v1/virtual_accounts/list:
    get:
      parameters:
      - in: query
        name: destination
        schema:
          type: string
      - in: query
        name: schemaIn
        schema:
          type: string
      - in: query
        name: currencyIn
        schema:
          type: string
      - in: query
        name: railOut
        schema:
          type: string
      - in: query
        name: currencyOut
        schema:
          type: string
      - in: query
        name: isActive
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transfers_models_v2.VirtualAccount'
      operationId: get_v1-virtual-accounts-list
  /v1/virtual_accounts:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      parameters:
      - in: query
        name: destination
        required: true
        schema:
          type: string
      - in: query
        name: schemaIn
        required: true
        schema:
          type: string
      - in: query
        name: currencyIn
        schema:
          type: string
      - in: query
        name: railOut
        required: true
        schema:
          type: string
      - in: query
        name: currencyOut
        required: true
        schema:
          type: string
      - in: query
        name: reference
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.VirtualAccount'
      operationId: get_v1-virtual-accounts
    post:
      summary: Create virtual account
      description: Creates a new virtual account with the provided details.
      tags:
      - Virtual Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_dto_v2.VirtualAccountCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.VirtualAccount'
      operationId: post_v1-virtual-accounts
  /v1/wallets:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: List wallets
      description: Lists all wallets linked to the account
      tags:
      - Account Wallets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/bp_models.Wallet'
      operationId: get_v1-wallets-1
    post:
      summary: Create wallet
      description: Creates wallet and links it to the account
      tags:
      - Account Wallets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bp_dto.AddWalletRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.Wallet'
      operationId: post_v1-wallets-1
  /v1/wallets/{walletId}/balance:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    get:
      summary: Get wallet balances
      description: Retrieves balances for a specific wallet
      tags:
      - Wallets
      parameters:
      - in: path
        name: walletId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_dto_v2.WalletBalanceResponse'
      operationId: get_v1-wallets-walletid-balance
  /v1/webhook_endpoints/{webhookId}/events/:
    get:
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      - in: query
        name: onlyFailed
        schema:
          type: boolean
      - in: query
        name: next
        schema:
          type: string
      - in: query
        name: order
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
          format: int32
      - in: query
        name: startDate
        schema:
          type: string
          format: date-time
      - in: query
        name: endDate
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository.CursorPage--bp_models.WebhookEvent'
      operationId: get_v1-webhook-endpoints-webhookid-events
  /v1/webhook_endpoints:
    get:
      tags:
      - Webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/bp_models.WebhookEndpoint'
      operationId: get_v1-webhook-endpoints
    post:
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bp_dto.CreateWebhookEndpointRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.WebhookEndpoint'
      operationId: post_v1-webhook-endpoints
  /v1/webhook_endpoints/events:
    get:
      tags:
      - Webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      operationId: get_v1-webhook-events
  /markets/{base}/{quote}:
    get:
      operationId: GetMarket
      summary: Get market
      description: Retrieves market information for the specified base and quote currencies.
      tags:
      - Markets
      parameters:
      - in: path
        name: base
        required: true
        schema:
          type: string
      - in: path
        name: quote
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fx_models.Market'
  /markets/{base}/{quote}/history:
    get:
      operationId: GetMarketHistory
      summary: Get market history
      description: Retrieves historical market data for the specified base and quote currencies, with
        an optional interval.
      tags:
      - Markets
      parameters:
      - in: path
        name: base
        required: true
        schema:
          type: string
      - in: path
        name: quote
        required: true
        schema:
          type: string
      - in: query
        name: interval
        schema:
          type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/fx_models.MarketHistoryDatapoint'
  /markets:
    get:
      operationId: GetMarkets
      summary: List markets
      description: Retrieves a list of all available FX markets.
      tags:
      - Markets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/fx_models.Market'
  /dev/payin:
    post:
      tags:
      - Simulate pay-in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/integrations.PayinRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      operationId: post_dev-payin
  /v1/accounts:
    post:
      summary: Create account
      description: Creates a new customer account (business or individual)
      tags:
      - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bp_dto.CreateAccountRequestV1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.AccountV1'
      operationId: post_v1-accounts
  /v1/kyc/session:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Create a KYC/KYB access session
      description: Creates a session to access KYC/KYB access token and link
      tags:
      - KYC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.KYCSession'
      operationId: post_v1-kyc-session
  /v1/kyc/sessions:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc_dto.KYCSessionCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/due_jwt.JwtToken'
      summary: Create KYC session
      operationId: post_v1-kyc-sessions
  /v1/kyc/sharing/sumsub:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Share Sumsub KYC
      description: Share an existing Sumsub applicant
      tags:
      - KYC
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_dto.ShareSumsubKYCRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.SumsubSharedKYC'
      operationId: post_v1-kyc-sharing-sumsub
  /v1/kyc/submissions/documents/{token}:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Upload verification documents
      tags:
      - KYC
      parameters:
      - in: path
        name: token
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Submission'
      operationId: post_v1-kyc-submissions-documents-token
  /v1/kyc/submissions/{submissionId}/applicants:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Create child applicant
      tags:
      - KYC
      parameters:
      - in: path
        name: submissionId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc_dto.CreateChildApplicantRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Submission'
      operationId: post_v1-kyc-submissions-submissionid-applicants
  /v1/kyc/submissions/{submissionId}/complete:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Complete applicant submission
      tags:
      - KYC
      parameters:
      - in: path
        name: submissionId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Submission'
      operationId: post_v1-kyc-submissions-submissionid-complete
  /v1/kyc/submissions/{submissionId}/documents:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Request verification document upload token
      tags:
      - KYC
      parameters:
      - in: path
        name: submissionId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc_dto.KYCDocumentUploadTokenRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_dto.DocumentUploadToken'
      operationId: post_v1-kyc-submissions-submissionid-documents
  /v1/kyc/submissions/{submissionId}/info:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Provide applicant information
      tags:
      - KYC
      parameters:
      - in: path
        name: submissionId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc_entities.ApplicantInfo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Submission'
      operationId: post_v1-kyc-submissions-submissionid-info
  /v1/kyc/submissions/{submissionId}/questionnaires:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Add questionnaire answers
      tags:
      - KYC
      parameters:
      - in: path
        name: submissionId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc_questionnaire.QuestionnaireAnswered'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Submission'
      operationId: post_v1-kyc-submissions-submissionid-questionnaires
  /v1/kyc/submissions/{submissionId}/relations:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Set submission relations
      tags:
      - KYC
      parameters:
      - in: path
        name: submissionId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/kyc_entities.Beneficiary'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kyc_entities.Submission'
      operationId: post_v1-kyc-submissions-submissionid-relations
  /v1/transfer_intents/submit:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Submit transfer intent
      description: Submit transfer intent for an execution on blockchain.
      tags:
      - Blockchain Transfers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_models_v2.TransferIntent'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.TransferIntent'
      operationId: post_v1-transfer-intents-submit
  /v1/transfer_intents:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Create transfer intent
      description: Creates an arbitrary transfer intent for a given set of tokens (in and out) and networks
      tags:
      - Blockchain Transfers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_dto_v2.TransferIntentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.TransferIntent'
      operationId: post_v1-transfer-intents
  /v1/transfers/estimate:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_dto_v2.EstimateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.Estimate'
      operationId: post_v1-transfers-estimate
  /v1/transfers/{id}/funding_address:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Create a funding address
      description: Create a funding address for a specific transfer by id
      tags:
      - Transfers
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account.TransferInstructionsDisposableAccount'
      operationId: post_v1-transfers-id-funding-address
  /v1/transfers/{id}/transfer_intent:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Create a transfer intent for a transfer
      description: Creates a transfer intent for the specified transfer ID.
      tags:
      - Transfers
      parameters:
      - in: path
        name: id
        description: Unique identifier for the resource.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relay_models.TransferIntentOptions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.TransferIntent'
      operationId: post_v1-transfers-id-transfer-intent
  /v1/transfers/quote:
    parameters:
    - $ref: '#/components/parameters/DueAccountIdHeader'
    post:
      summary: Create a transfer quote
      description: Create a transfer quote for a set of currencies and rails
      tags:
      - Transfers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfers_dto_v2.QuoteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfers_models_v2.Quote'
      operationId: post_v1-transfers-quote
  /v1/vaults/credentials/approve:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dfnsdto.SignedEnvelope--bp_dto.PasskeyApprovalRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.PasskeyCredential'
        '403':
          description: Action Signature Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequiredErr'
      operationId: post_v1-vaults-credentials-approve
  /v1/vaults/credentials/deactivate:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dfnsdto.SignedEnvelope--bp_dto.PasskeyDeactivateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.PasskeyCredential'
      operationId: post_v1-vaults-credentials-deactivate
  /v1/vaults/credentials/init:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bp_dto.PasskeyCreationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_dto.CredentialCreation'
      operationId: post_v1-vaults-credentials-init
  /v1/vaults/sign:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dfnsdto.SignedEnvelope--bp_dto.DfnsTmpSignatureRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_dto.DfnsSignature'
      operationId: post_v1-vaults-sign
  /v1/vaults:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dfnsdto.SignedEnvelope--any'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.MPCWalletEvm'
      operationId: post_v1-vaults
  /v1/webhook_endpoints/{webhookId}/events/{eventId}/retry:
    post:
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      - in: path
        name: eventId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bp_models.WebhookEvent'
      summary: Retry webhook endpoint event
      operationId: post_v1-webhook-endpoints-webhookid-events-eventid-retry
components:
  schemas:
    fx_dto.QuoteRequest:
      type: object
      properties:
        currencyIn:
          type: string
        currencyOut:
          type: string
        amountIn:
          type: string
        amountOut:
          type: string
    fx_models.Quote:
      type: object
      properties:
        currencyIn:
          type: string
        currencyOut:
          type: string
        amountIn:
          type: string
        amountOut:
          type: string
        rate:
          type: number
          format: double
        markupBps:
          type: integer
          format: int32
        createdAt:
          type: string
    bp_models.WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
        ownerId:
          type: string
        description:
          type: string
        url:
          type: string
        subscribedEvents:
          type: array
          items:
            type: string
        publicKey:
          type: string
        enabled:
          type: boolean
    repository.CursorPage--transfers_models.AccountCategory:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/transfers_models.AccountCategory'
        next:
          type: string
    transfers_models.AccountCategory:
      type: object
      properties:
        code:
          type: string
        accountType:
          type: string
        active:
          type: boolean
    bp_models.AccountV1:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        name:
          type: string
        email:
          type: string
        country:
          type: string
        category:
          type: string
        externalId:
          type: string
        status:
          type: string
        statusLog:
          type: array
          items:
            $ref: '#/components/schemas/status_log.Record'
        kyc:
          $ref: '#/components/schemas/transfers_models_v2.OwnerKyc'
        tos:
          $ref: '#/components/schemas/transfers_models_v2.TosAcceptance'
    status_log.Record:
      type: object
      properties:
        status:
          type: string
        timestamp:
          type: string
          format: date-time
        reason:
          type: string
        code:
          type: string
    transfers_models_v2.OwnerKyc:
      type: object
      properties:
        status:
          type: string
          enum:
          - pending
          - resubmission_required
          - passed
          - failed
        link:
          type: string
    transfers_models_v2.TosAcceptance:
      type: object
      properties:
        id:
          type: string
        entityName:
          type: string
        status:
          type: string
          enum:
          - accepted
          - pending
        link:
          type: string
        documentLinks:
          $ref: '#/components/schemas/transfers_models_v2.LinkSet'
        acceptedAt:
          type: string
        token:
          type: string
    transfers_models_v2.LinkSet:
      type: object
      properties:
        tos:
          type: string
        privacyPolicy:
          type: string
    transfers_models_v2.Channel:
      type: object
      properties:
        rail:
          type: string
        railSettings:
          $ref: '#/components/schemas/transfers_models_v2.RailSettings'
        currencyCode:
          type: string
        feeBps:
          type: integer
          format: int32
        feeFixed:
          type: string
        limitMin:
          type: string
        limitMax:
          type: string
        kycLevels:
          type: array
          items:
            type: string
        type:
          type: string
        accountType:
          type: string
        permissions:
          $ref: '#/components/schemas/transfers_models_v2.Permissions'
        purposeCodes:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        endorsementsRequired:
          type: array
          items:
            type: string
    transfers_models_v2.RailSettings:
      type: object
      properties:
        rail:
          type: string
        speed:
          type: string
        memoConfig:
          $ref: '#/components/schemas/transfers_models.RailReferenceRuleSet'
        schemas:
          type: array
          items:
            type: string
    transfers_models_v2.Permissions:
      type: object
      properties:
        eligibleResidencies:
          type: array
          items:
            type: string
        restrictedResidencies:
          type: array
          items:
            type: string
        eligibleCategories:
          type: array
          items:
            type: string
        restrictedCategories:
          type: array
          items:
            type: string
        restrictedRecipientCountries:
          type: array
          items:
            type: string
        eligibleRecipientCountries:
          type: array
          items:
            type: string
        recipientAccountTypes:
          type: array
          items:
            type: string
        virtualAccounts:
          $ref: '#/components/schemas/transfers_models_v2.PermissionsVirtualAccounts'
        payouts:
          $ref: '#/components/schemas/transfers_models_v2.PermissionsPayouts'
        requiredSenderSchemaOneOf:
          type: array
          items:
            type: string
    transfers_models.RailReferenceRuleSet:
      type: object
      properties:
        minCharacters:
          type: integer
          format: int32
        maxCharacters:
          type: integer
          format: int32
        required:
          type: boolean
    transfers_models_v2.PermissionsVirtualAccounts:
      type: object
      properties:
        canUseExisting:
          type: boolean
        canOpenNew:
          type: boolean
        named:
          type: boolean
    transfers_models_v2.PermissionsPayouts:
      type: object
      properties:
        named:
          type: boolean
    transfers_models.FinancialInstitution:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        country2:
          type: string
        currency:
          type: string
        schemas:
          type: array
          items:
            type: string
    kyc_entities.ApplicantInfo:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        dob:
          type: string
        companyName:
          type: string
        registrationNumber:
          type: string
        address:
          $ref: '#/components/schemas/kyc_required_info.Address'
        bvn:
          type: string
        entityType:
          type: string
        nationality:
          type: string
        phone:
          type: string
        postalAddress:
          type: string
        ssn:
          type: string
        tin:
          type: string
        cpf:
          type: string
        website:
          type: string
        location:
          $ref: '#/components/schemas/kyc_required_info.Location'
      required:
      - firstName
      - lastName
      - dob
      - companyName
      - registrationNumber
      - address
      - bvn
      - entityType
      - nationality
      - phone
      - postalAddress
      - ssn
      - tin
      - cpf
      - website
    kyc_required_info.Address:
      type: object
      properties:
        country:
          type: string
        postCode:
          type: string
        town:
          type: string
        street:
          type: string
        subStreet:
          type: string
        state:
          type: string
        stateCode:
          type: string
        buildingName:
          type: string
        flatNumber:
          type: string
        buildingNumber:
          type: string
      required:
      - postCode
      - town
      - street
    kyc_required_info.Location:
      type: object
      properties:
        latitude:
          type: string
        longitude:
          type: string
      required:
      - latitude
      - longitude
    kyc_entities.Submission:
      type: object
      properties:
        id:
          type: string
        ownerId:
          type: string
        applicantId:
          type: string
        status:
          type: string
        info:
          $ref: '#/components/schemas/kyc_entities.ApplicantInfo'
        requirements:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaConditional'
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaOneOf'
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaStatic'
            discriminator:
              propertyName: kind
              mapping:
                conditional: '#/components/schemas/kyc_entities.RequirementsSchemaConditional'
                oneOf: '#/components/schemas/kyc_entities.RequirementsSchemaOneOf'
                static: '#/components/schemas/kyc_entities.RequirementsSchemaStatic'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/kyc_document.KYCDocument'
        questionnaires:
          type: array
          items:
            $ref: '#/components/schemas/kyc_questionnaire.QuestionnaireAnswered'
        presetCode:
          type: string
    kyc_entities.RequirementsSchemaConditional:
      type: object
      properties:
        if:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaConditional'
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaOneOf'
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaStatic'
            discriminator:
              propertyName: kind
              mapping:
                conditional: '#/components/schemas/kyc_entities.RequirementsSchemaConditional'
                oneOf: '#/components/schemas/kyc_entities.RequirementsSchemaOneOf'
                static: '#/components/schemas/kyc_entities.RequirementsSchemaStatic'
        then:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaConditional'
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaOneOf'
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaStatic'
            discriminator:
              propertyName: kind
              mapping:
                conditional: '#/components/schemas/kyc_entities.RequirementsSchemaConditional'
                oneOf: '#/components/schemas/kyc_entities.RequirementsSchemaOneOf'
                static: '#/components/schemas/kyc_entities.RequirementsSchemaStatic'
        kind:
          type: string
      required:
      - kind
    kyc_entities.RequirementsSchemaOneOf:
      type: object
      properties:
        oneOf:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaConditional'
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaOneOf'
            - $ref: '#/components/schemas/kyc_entities.RequirementsSchemaStatic'
            discriminator:
              propertyName: kind
              mapping:
                conditional: '#/components/schemas/kyc_entities.RequirementsSchemaConditional'
                oneOf: '#/components/schemas/kyc_entities.RequirementsSchemaOneOf'
                static: '#/components/schemas/kyc_entities.RequirementsSchemaStatic'
        kind:
          type: string
      required:
      - kind
    kyc_entities.RequirementsSchemaStatic:
      type: object
      properties:
        info:
          type: array
          items:
            $ref: '#/components/schemas/due_reflect.FieldDescriptor'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/kyc_document.KYCDocumentRequirementSet'
        questionnaires:
          type: array
          items:
            $ref: '#/components/schemas/kyc_questionnaire.QuestionnaireTemplate'
        kind:
          type: string
      required:
      - kind
    kyc_document.KYCDocument:
      type: object
      properties:
        filename:
          type: string
        type:
          type: string
        variant:
          type: string
        issuingCountry:
          type: string
    kyc_questionnaire.QuestionnaireAnswered:
      type: object
      properties:
        id:
          type: string
        templateId:
          type: string
        answers:
          type: array
          items:
            $ref: '#/components/schemas/kyc_questionnaire.Answer'
    due_reflect.FieldDescriptor:
      type: object
      properties:
        key:
          type: string
        type:
          type: string
        oneOf:
          type: array
          items:
            type: string
        required:
          type: boolean
        requiredIf:
          type: string
        excludedUnless:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/due_reflect.FieldDescriptor'
    kyc_document.KYCDocumentRequirementSet:
      type: object
      properties:
        category:
          type: string
        oneOf:
          type: array
          items:
            $ref: '#/components/schemas/kyc_document.KYCDocumentRequirement'
    kyc_questionnaire.QuestionnaireTemplate:
      type: object
      properties:
        templateId:
          type: string
        questions:
          type: array
          items:
            $ref: '#/components/schemas/kyc_questionnaire.Question'
    kyc_questionnaire.Answer:
      type: object
      properties:
        id:
          type: string
        value:
          type: array
          items:
            type: string
    kyc_document.KYCDocumentRequirement:
      type: object
      properties:
        type:
          type: string
        variants:
          type: array
          items:
            type: string
    kyc_questionnaire.Question:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        requiredWhen:
          $ref: '#/components/schemas/kyc_questionnaire.RequiredCondition'
        schema:
          oneOf:
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionDateTime'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionFiles'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionBoolean'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionText'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionDate'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionTime'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionChoice'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionAccountCategory'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionMultipleChoice'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionMultipleCountries'
          - $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionNumber'
          discriminator:
            propertyName: type
            mapping:
              account_category: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionAccountCategory'
              boolean: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionBoolean'
              choice: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionChoice'
              date: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionDate'
              datetime: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionDateTime'
              files: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionFiles'
              multiple_choice: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionMultipleChoice'
              multiple_countries: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionMultipleCountries'
              number: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionNumber'
              text: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionText'
              time: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionTime'
    kyc_questionnaire.RequiredCondition:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
    kyc_questionnaire.KYCQuestionnaireQuestionDateTime:
      type: object
      properties:
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionFiles:
      type: object
      properties:
        max:
          type: integer
          format: int32
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionBoolean:
      type: object
      properties:
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionText:
      type: object
      properties:
        format:
          type: string
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionDate:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionTime:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionChoice:
      type: object
      properties:
        options:
          type: array
          items:
            $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionChoiceOption'
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionAccountCategory:
      type: object
      properties:
        options:
          type: array
          items:
            $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionChoiceOption'
        resourceURL:
          type: string
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionMultipleChoice:
      type: object
      properties:
        options:
          type: array
          items:
            $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionChoiceOption'
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionMultipleCountries:
      type: object
      properties:
        options:
          type: array
          items:
            $ref: '#/components/schemas/kyc_questionnaire.KYCQuestionnaireQuestionChoiceOption'
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
        resourceURL:
          type: string
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionNumber:
      type: object
      properties:
        min:
          type: number
          format: double
        max:
          type: number
          format: double
        type:
          type: string
      required:
      - type
    kyc_questionnaire.KYCQuestionnaireQuestionChoiceOption:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
    kyc_entities.Endorsement:
      type: object
      properties:
        ownerId:
          type: string
        code:
          type: string
        status:
          type: string
        submission:
          $ref: '#/components/schemas/kyc_entities.Submission'
    transfers_models.SumsubKYC:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        email:
          type: string
        applicantId:
          type: string
        externalLink:
          type: string
        status:
          type: string
          enum:
          - pending
          - resubmission_required
          - passed
          - failed
        country:
          type: string
        token:
          type: string
        primaryEntity:
          $ref: '#/components/schemas/transfers_models.LegalEntity'
    transfers_models.LegalEntity:
      type: object
      properties:
        name:
          type: string
        tosLink:
          type: string
        privacyPolicyLink:
          type: string
        country2:
          type: string
    account.BankAccountDetailsSA:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        IBAN:
          type: string
        schema:
          type: string
      required:
      - accountType
      - IBAN
      - schema
    account.EWalletGT:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        phoneNumber:
          type: string
        financialInstitutionId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - phoneNumber
      - financialInstitutionId
      - schema
    account.BankAccountDetailsSV:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        bankAccountType:
          type: string
        accountNumber:
          type: string
        phoneNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - bankAccountType
      - accountNumber
      - phoneNumber
      - schema
    account.BankAccountDetailsHN:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        bankAccountType:
          type: string
        accountNumber:
          type: string
        phoneNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - bankAccountType
      - accountNumber
      - phoneNumber
      - schema
    account.EWalletPK:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        phoneNumber:
          type: string
        financialInstitutionId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - phoneNumber
      - financialInstitutionId
      - schema
    account.EWalletPH:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        phoneNumber:
          type: string
        financialInstitutionId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - phoneNumber
      - financialInstitutionId
      - schema
    account.BankAccountDetailsSwiftIBAN:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        bankName:
          type: string
        bankAddress:
          type: string
        IBAN:
          type: string
        swiftCode:
          type: string
        currency:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.MailingAddress'
        schema:
          type: string
      required:
      - accountType
      - IBAN
      - swiftCode
      - currency
      - beneficiaryAddress
      - schema
    account.EWalletAlipay:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        phoneNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - phoneNumber
      - schema
    account.EWalletID:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        phoneNumber:
          type: string
        financialInstitutionId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - phoneNumber
      - financialInstitutionId
      - schema
    account.EWalletDO:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        phoneNumber:
          type: string
        financialInstitutionId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - phoneNumber
      - financialInstitutionId
      - schema
    account.SolanaAccount:
      type: object
      properties:
        address:
          type: array
          items:
            type: integer
            format: int32
        schema:
          type: string
      required:
      - address
      - schema
    account.BankAccountDetailsCL:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        bankAccountType:
          type: string
        idType:
          type: string
        idNumber:
          type: string
        beneficiaryCity:
          type: string
        taxId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - bankAccountType
      - beneficiaryCity
      - schema
    account.BankAccountAfricaDetails:
      type: object
      properties:
        financialInstitutionId:
          type: string
        bankName:
          type: string
        accountNumber:
          type: string
        accountName:
          type: string
        email:
          type: string
        schema:
          type: string
      required:
      - financialInstitutionId
      - accountNumber
      - accountName
      - schema
    account.BankAccountDetailsBD:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        branchNumber:
          type: string
        accountNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - branchNumber
      - accountNumber
      - schema
    account.BankAccountDetailsJP:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        bankName:
          type: string
        accountNumber:
          type: string
        branchNumber:
          type: string
        nationalityCountry3:
          type: string
        phoneNumber:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.MailingAddress'
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - branchNumber
      - phoneNumber
      - beneficiaryAddress
      - schema
    account.BankAccountDetailsAU:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        bankName:
          type: string
        bsbCode:
          type: string
        accountNumber:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.MailingAddress'
        schema:
          type: string
      required:
      - accountType
      - bsbCode
      - accountNumber
      - beneficiaryAddress
      - schema
    account.BankAccountDetailsCA:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        routingCode:
          type: string
        branchCode:
          type: string
        bankCode:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.MailingAddress'
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - routingCode
      - beneficiaryAddress
      - schema
    account.BankAccountDetailsSwift:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        bankName:
          type: string
        bankAddress:
          type: string
        swiftCode:
          type: string
        swiftAccountNumber:
          type: string
        currency:
          type: string
        country:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.MailingAddress'
        schema:
          type: string
      required:
      - accountType
      - swiftCode
      - swiftAccountNumber
      - currency
      - beneficiaryAddress
      - schema
    account.BankAccountDetailsDO:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        bankAccountType:
          type: string
        idType:
          type: string
        idNumber:
          type: string
        taxId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - bankAccountType
      - schema
    account.BankAccountDetailsJM:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        bankAccountType:
          type: string
        accountNumber:
          type: string
        branchNumber:
          type: string
        phoneNumber:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.MailingAddress'
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - bankAccountType
      - accountNumber
      - branchNumber
      - phoneNumber
      - beneficiaryAddress
      - schema
    account.EWallet:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        phoneNumber:
          type: string
        financialInstitutionId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - phoneNumber
      - financialInstitutionId
      - schema
    account.MomoAccountAfricaDetails:
      type: object
      properties:
        phoneNumber:
          type: string
        accountName:
          type: string
        financialInstitutionId:
          type: string
        currency:
          type: string
        schema:
          type: string
      required:
      - phoneNumber
      - accountName
      - financialInstitutionId
      - currency
      - schema
    account.MomoSenderAccountAfricaDetails:
      type: object
      properties:
        phoneNumber:
          type: string
        financialInstitutionId:
          type: string
        schema:
          type: string
      required:
      - phoneNumber
      - financialInstitutionId
      - schema
    account.BankAccountDetailsSG:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - schema
    account.BankAccountDetailsTH:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - schema
    account.BankAccountDetailsTR:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        IBAN:
          type: string
        schema:
          type: string
      required:
      - accountType
      - IBAN
      - schema
    account.BankAccountDetailsCN:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.MailingAddress'
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - beneficiaryAddress
      - schema
    account.BankAccountDetailsIN:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        bankName:
          type: string
        ifscCode:
          type: string
        accountNumber:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.MailingAddress'
        schema:
          type: string
      required:
      - accountType
      - ifscCode
      - accountNumber
      - schema
    account.BankAccountDetailsBR:
      type: object
      properties:
        name:
          type: string
        nin:
          type: string
        financialInstitutionId:
          type: string
        branchNumber:
          type: string
        accountNumber:
          type: string
        bankAccountType:
          type: string
        bankName:
          type: string
        schema:
          type: string
      required:
      - name
      - nin
      - financialInstitutionId
      - branchNumber
      - accountNumber
      - bankAccountType
      - schema
    account.QRAccountBrazilDetails:
      type: object
      properties:
        emv:
          type: string
        pixKey:
          type: string
        name:
          type: string
        nin:
          type: string
        financialInstitutionId:
          type: string
        branchNumber:
          type: string
        accountNumber:
          type: string
        bankAccountType:
          type: string
        schema:
          type: string
      required:
      - emv
      - schema
    account.BankAccountDetailsCR:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        IBAN:
          type: string
        phoneNumber:
          type: string
        idType:
          type: string
        idNumber:
          type: string
        taxId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - IBAN
      - phoneNumber
      - schema
    account.BankAccountDetailsGT:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        bankAccountType:
          type: string
        accountNumber:
          type: string
        phoneNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - bankAccountType
      - accountNumber
      - phoneNumber
      - schema
    account.BankAccountDetailsEG:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        IBAN:
          type: string
        schema:
          type: string
      required:
      - accountType
      - IBAN
      - schema
    account.BankAccountDetailsPKIBAN:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        IBAN:
          type: string
        schema:
          type: string
      required:
      - accountType
      - IBAN
      - schema
    account.BankAccountDetailsINUPI:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        accountNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - accountNumber
      - schema
    account.EvmAccount:
      type: object
      properties:
        address:
          type: string
        schema:
          type: string
      required:
      - address
      - schema
    account.BankAccountDetailsUK:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        accountNumber:
          type: string
        sortCode:
          type: string
        schema:
          type: string
      required:
      - accountType
      - accountNumber
      - sortCode
      - schema
    account.BankAccountDetailsMX:
      type: object
      properties:
        bankName:
          type: string
        clabe:
          type: string
        beneficiaryName:
          type: string
        email:
          type: string
        schema:
          type: string
      required:
      - clabe
      - beneficiaryName
      - schema
    account.BankAccountDetailsIBANLegacy:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        bankName:
          type: string
        IBAN:
          type: string
        schema:
          type: string
      required:
      - accountType
      - IBAN
      - schema
    account.BankAccountDetailsMY:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - schema
    account.BankAccountDetailsPH:
      type: object
      properties:
        beneficiaryName:
          type: string
        bankName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        emv:
          type: string
        schema:
          type: string
      required:
      - beneficiaryName
      - financialInstitutionId
      - accountNumber
      - schema
    account.BankAccountDetailsID:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - schema
    account.BankAccountDetailsVN:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - schema
    account.BankAccountDetailsCOBreb:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
        schema:
          type: string
      required:
      - name
      - key
      - schema
    account.StarknetAccount:
      type: object
      properties:
        address:
          type: string
        schema:
          type: string
      required:
      - address
      - schema
    account.BankAccountDetailsBO:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        bankAccountType:
          type: string
        idType:
          type: string
        idNumber:
          type: string
        taxId:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - bankAccountType
      - schema
    account.BankAccountDetailsIL:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        IBAN:
          type: string
        schema:
          type: string
      required:
      - accountType
      - IBAN
      - schema
    account.EWalletWechat:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        phoneNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - phoneNumber
      - schema
    account.BankAccountDetailsKR:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        phoneNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - phoneNumber
      - schema
    account.BankAccountDetailsUSJPM:
      type: object
      properties:
        bankName:
          type: string
        bankAddress:
          type: string
        accountName:
          type: string
        accountNumber:
          type: string
        routingNumberACH:
          type: string
        routingNumberWire:
          type: string
        routingNumberRTP:
          type: string
        schema:
          type: string
      required:
      - bankName
      - accountName
      - accountNumber
      - routingNumberACH
      - routingNumberWire
      - routingNumberRTP
      - schema
    account.TronAccount:
      type: object
      properties:
        address:
          type: string
        schema:
          type: string
      required:
      - address
      - schema
    account.BankAccountDetailsMena:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        bankName:
          type: string
        IBAN:
          type: string
        swiftCode:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.BeneficiaryAddressMena'
        schema:
          type: string
      required:
      - accountType
      - IBAN
      - beneficiaryAddress
      - schema
    account.BankAccountDetailsCO:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        bankAccountType:
          type: string
        accountNumber:
          type: string
        idType:
          type: string
        idNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - bankAccountType
      - accountNumber
      - idNumber
      - schema
    account.BankAccountDetailsHK:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - schema
    account.BankAccountDetailsPK:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        financialInstitutionId:
          type: string
        accountNumber:
          type: string
        schema:
          type: string
      required:
      - accountType
      - financialInstitutionId
      - accountNumber
      - schema
    account.BankAccountDetailsUS:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        bankName:
          type: string
        bankAddress:
          type: string
        accountName:
          type: string
        accountNumber:
          type: string
        routingNumber:
          type: string
        routingNumberACH:
          type: string
        routingNumberWire:
          type: string
        routingNumberRTP:
          type: string
        beneficiaryAddress:
          $ref: '#/components/schemas/account.MailingAddress'
        schema:
          type: string
      required:
      - accountType
      - accountNumber
      - routingNumber
      - beneficiaryAddress
      - schema
    account.BankAccountDetailsSepa:
      type: object
      properties:
        accountType:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        IBAN:
          type: string
        swiftCode:
          type: string
        bankName:
          type: string
        schema:
          type: string
      required:
      - accountType
      - IBAN
      - schema
    account.BankAccountDetailsBRPix:
      type: object
      properties:
        pixKey:
          type: string
        name:
          type: string
        emv:
          type: string
        schema:
          type: string
      required:
      - pixKey
      - schema
    account.MailingAddress:
      type: object
      properties:
        street_line_1:
          type: string
        street_line_2:
          type: string
        city:
          type: string
        postal_code:
          type: string
        country:
          type: string
        state:
          type: string
      required:
      - street_line_1
      - city
      - postal_code
      - country
    account.BeneficiaryAddressMena:
      type: object
      properties:
        street_line_1:
          type: string
      required:
      - street_line_1
    transfers_models_v2.Recipient:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        details:
          oneOf:
          - $ref: '#/components/schemas/account.BankAccountDetailsSA'
          - $ref: '#/components/schemas/account.EWalletGT'
          - $ref: '#/components/schemas/account.BankAccountDetailsSV'
          - $ref: '#/components/schemas/account.BankAccountDetailsHN'
          - $ref: '#/components/schemas/account.EWalletPK'
          - $ref: '#/components/schemas/account.EWalletPH'
          - $ref: '#/components/schemas/account.BankAccountDetailsSwiftIBAN'
          - $ref: '#/components/schemas/account.EWalletAlipay'
          - $ref: '#/components/schemas/account.EWalletID'
          - $ref: '#/components/schemas/account.EWalletDO'
          - $ref: '#/components/schemas/account.SolanaAccount'
          - $ref: '#/components/schemas/account.BankAccountDetailsCL'
          - $ref: '#/components/schemas/account.BankAccountAfricaDetails'
          - $ref: '#/components/schemas/account.BankAccountDetailsBD'
          - $ref: '#/components/schemas/account.BankAccountDetailsJP'
          - $ref: '#/components/schemas/account.BankAccountDetailsAU'
          - $ref: '#/components/schemas/account.BankAccountDetailsCA'
          - $ref: '#/components/schemas/account.BankAccountDetailsSwift'
          - $ref: '#/components/schemas/account.BankAccountDetailsDO'
          - $ref: '#/components/schemas/account.BankAccountDetailsJM'
          - $ref: '#/components/schemas/account.EWallet'
          - $ref: '#/components/schemas/account.MomoAccountAfricaDetails'
          - $ref: '#/components/schemas/account.MomoSenderAccountAfricaDetails'
          - $ref: '#/components/schemas/account.BankAccountDetailsSG'
          - $ref: '#/components/schemas/account.BankAccountDetailsTH'
          - $ref: '#/components/schemas/account.BankAccountDetailsTR'
          - $ref: '#/components/schemas/account.BankAccountDetailsCN'
          - $ref: '#/components/schemas/account.BankAccountDetailsIN'
          - $ref: '#/components/schemas/account.BankAccountDetailsBR'
          - $ref: '#/components/schemas/account.QRAccountBrazilDetails'
          - $ref: '#/components/schemas/account.BankAccountDetailsCR'
          - $ref: '#/components/schemas/account.BankAccountDetailsGT'
          - $ref: '#/components/schemas/account.BankAccountDetailsEG'
          - $ref: '#/components/schemas/account.BankAccountDetailsPKIBAN'
          - $ref: '#/components/schemas/account.BankAccountDetailsINUPI'
          - $ref: '#/components/schemas/account.EvmAccount'
          - $ref: '#/components/schemas/account.BankAccountDetailsUK'
          - $ref: '#/components/schemas/account.BankAccountDetailsMX'
          - $ref: '#/components/schemas/account.BankAccountDetailsIBANLegacy'
          - $ref: '#/components/schemas/account.BankAccountDetailsMY'
          - $ref: '#/components/schemas/account.BankAccountDetailsPH'
          - $ref: '#/components/schemas/account.BankAccountDetailsID'
          - $ref: '#/components/schemas/account.BankAccountDetailsVN'
          - $ref: '#/components/schemas/account.BankAccountDetailsCOBreb'
          - $ref: '#/components/schemas/account.StarknetAccount'
          - $ref: '#/components/schemas/account.BankAccountDetailsBO'
          - $ref: '#/components/schemas/account.BankAccountDetailsIL'
          - $ref: '#/components/schemas/account.EWalletWechat'
          - $ref: '#/components/schemas/account.BankAccountDetailsKR'
          - $ref: '#/components/schemas/account.BankAccountDetailsUSJPM'
          - $ref: '#/components/schemas/account.TronAccount'
          - $ref: '#/components/schemas/account.BankAccountDetailsMena'
          - $ref: '#/components/schemas/account.BankAccountDetailsCO'
          - $ref: '#/components/schemas/account.BankAccountDetailsHK'
[...]
